footer
    .row.mt-3
      .col-md-12.mt-0
        p.float-left © 2019 Vishvanatha Acharya, Inc. All Rights Reserved
        ul.float-right.list-inline
          li.list-inline-item
            a(href='https://github.com/vishvanathaa/astrology') Vishva's project
            span &nbsp; | 
          li.list-inline-item
            a(href='https://github.com/vishvanathaa/astrology/issues') 
              span Report issues
