extends layout
block layout-content
  .row.va.padding-left-20
    .col-md-9.va.bg-color
      div.row(style='margin-top:8px;')
        .col-md-4
        .col-md-6
          h2 !{signCode} #{sign}
      p !{description} 
      p
        a.btn.btn-raised(href='/zodiacSign', role='button') &laquo; Back
            
      