extends layout
block layout-content
    link(rel="stylesheet" type="text/css" href="css/chatstyle.css")
    .container
        .row.mt-5
            .col-sm-4.conversation.app-one
                .row.heading
                    .col-sm-5.col-md-3.col-xs-4.heading-avatar
                        .heading-avatar-icon
                            img(src="images/vish.jpg")
                    .col-sm-6.col-xs-6.heading-name
                        a.heading-name-meta Speak to Astrologer
                            span.heading-online Online
                    .col-sm-1.col-xs-1.pull-right.pr-2
                        a(href="/",style="font-size:1.0rem")
                            i.fa.fa-home(aria-hidden="true")
                    
                
