extends layoutN

block head
  link(href='https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.1/jsgrid.min.css', rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.1/jsgrid-theme.min.css', rel='stylesheet')

block content
  hr
  .row
    .col-md-7
      h2 Horoscope List
    .col-md-5.text-left
      a(href="/horoscope")
        button.btn.btn-primary(type='submit')
          i.fa.fa-plus-circle
          | &nbsp; Add Horoscope &nbsp;
          i.fas.fa-cloud-showers-heavy
  div#jsGrid
block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.1/jsgrid.min.js')
  script(src='/js/horoscope.list.js')