extends layout
block layout-content
  div#jsGrid
    p
        a.btn.btn-raised(href='/zodiacSign', role='button') &laquo; Back
  script(src='/js/lib/jquery.min.js')
  script(src="/js/lib/bootstrap.min.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.1/jsgrid.min.js')
  script(src='/js/horoscope.list.js')