extends layout

block layout-content
  div.View.WelcomeView
    h8.Banner <i>Anyone can become a millionaire but</i> 
     h3 To become a billionaire you need an astrologer.
    div.Message
      div.Title
        h3 Free Consultation
        h1 Dr. Shankara Bhat
      h3.Details 
        i.fa.fa-phone
          span &nbsp;&nbsp;9980022445
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton Just dive in!
      else
        a(href="/login")
          div.NavButton Log in