extends layout

block layout-content
  div.View.WelcomeView.mt-5
    .col-md-12
      .row
        .col-md-12
          div.Banner(style="width:250px;")
            div.child
              h8 Anyone can become a millionaire but to become a billionaire you need an astrologer.
      .row.mt-3
        .col-md-12
          div.Message(Style="width:250px;")
            div.Title
              h3(style="font-size:1.5rem") Free Consultation
              h1 Dr. Shankara Bhat
            h4.Details 
              i.fa.fa-phone
                span(style="font-size:1.3rem") &nbsp;9980022445
              a.mt-2(href='/zodiacSign',style="font-size:1.3rem")
                i.fa.fa-eye &nbsp;
                span Free Prediction
            .row.mt-2
              .col-md-12
                a.mb-5(href="/chat")
                  i.fa.fa-user-times(aria-hidden="true") 
                  span(style="font-size:0.9rem;font-weight:bold") &nbsp;Chat with astrologer
            .row.mt-3
              .col-md-12
                if isAuthenticated
                  a(href="/user")
                    div.NavButton Just dive in!
                else
                  a(href="/login")
                    button.NavButton.form-control.btn.btn-warning(type="button")
                      span(style="color:black") LOGIN
        
        