doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/style.css")
    link(rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.css")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    block head
  body
    include partials/header
    include partials/flash
    block content
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='/js/lib/jquery.min.js')
    script(src="/js/lib/bootstrap.min.js")
    block scripts