extends layout
block layout-content
  div.View.mt-5
    div.Message
      div.Title
        h3 Planet Position
        .row
          .col-md-4
            img(src="images/giphy.gif" alt="Sagattarius") 
          .col-md-8
            p &nbsp;&nbsp;The <b>success</b> of a marriage depends on mutual love, respect, understanding, trust and fulfillment. Nowadays, men and women have a well-established relationship before yielding to marriage. However even though they have known each other for some time, often after marriage, they are disillusioned and find themselves incompatible for each other….Was this a wrong choice of life partner? How to avoid such deceptions? 

            p &nbsp;&nbsp;Back to the times of the reign of Kings in ancient India up to now, people from all walks of life have sought the advice of Astrologers before taking up any project or major decision. The same goes for matrimony. By studying the birth charts of the grooms, a competent astrologer can determine the level of compatibility of each other and hence give a fairly good indication of the outcome of such a marriage. This gives the person some opportunity to make up their minds. Had we all sought help from matrimony, we would have certainly faced lesser failures and been happier couples! 

            p &nbsp;&nbsp;Jyotish can provide an insight in the level of understanding between you and your partner.Shiva has been guiding people of all origins in matchmaking since 15 yrs. Seize this opportunity, get yourself a matrimony consultation just like so many people from Japan, Mauritius, India, Usa.
   
