extends layout

block layout-content
  .row.mt-5
    .col-md-12
      .pb-2.mt-3.mb-0
          h3=sign
  form(method='POST')
    .row
        .col-md-4
          .form-group
            label(for='signType') Month :
            select.form-control(name='ddlMonth', id='ddlMonth',style="font-size: 0.699rem!important;")
              each val in ['-- Select --' , 'January' , 'February','March','April','May','June','July','August','September','October','November','December']
                option(value=val)=val
    .row
        .col-md-4
          .form-group
            label(for='ddlYear') Year :
            select.form-control(name='ddlYear', id='ddlYear',style="font-size: 0.699rem!important;")
              each year in ['-- Select --' , '2019' , '2020','2021','2022','2023']
                option(value=year)=year
    .row
        .col-md-9
          .form-group
            input(type='hidden', name='signName',id='signName', value=sign)
            label(for='message') Description :
            textarea.form-control(style="font-size: 0.699rem!important;",name='message', id='message', rows='30', autofocus=(!unknownUser).toString())=description
    .row
      .col-md-4
        button.btn.btn-primary(type='submit')
          i.far.fa-envelope.fa-sm
          | &nbsp; Send Content to CLOUD &nbsp;
          i.fas.fa-cloud-showers-heavy