extends layout
block layout-content
    div.mt-5(style='padding:20px;')
      div.row
            .col-md-2
              h4 ARIES
              p
              a(href='/birthsign?sign=Aries')
                img.clsSign#zodiac(src="images/aries.png" alt="Aries")
              p (21 March - 20 April)  
              | Look at the movements of the planets, sun, moon, and stars influence in your life in this month by clicking on view details.
              p
                a.btn.btn-raised(href='/birthsign?sign=Aries', role='button' onclick="startSpinner()" ) View details »
            .col-md-2
              h4 TAURUS
              p
              a(href='/birthsign?sign=Taurus') 
                img.clsSign#zodiac(src="images/taurus.png" alt="Taurus")
              p (21 April – 21 May)
              | Look at the movements of the planets, sun, moon, and stars influence in your life in this month by clicking on view details. 
              p
                a.btn.btn-raised(href='/birthsign?sign=Taurus', role='button' onclick='startSpinner();') View details »
            .col-md-2
              h4 GEMINI
              p
              a(href='/birthsign?sign=Gemini') 
                img.clsSign#zodiac(src="images/Gemini.png" alt="Zemini")
              p (22 May – 21 June)
              | Look at the movements of the planets, sun, moon, and stars influence in your life in this month by clicking on view details. 
              p
                a.btn.btn-raised(href='/birthsign?sign=Gemini', role='button' onclick='startSpinner();') View details »
            .col-md-2
              h4 CANCER
              p
              a(href='/birthsign?sign=Cancer')  
                img.clsSign#zodiac(src="images/Cancer.png" alt="Zemini")
              p (22 June – 22 July) 
              | Look at the movements of the planets, sun, moon, and stars influence in your life in this month by clicking on view details.
              p
                a.btn.btn-raised(href='/birthsign?sign=Cancer', role='button' onclick='startSpinner();') View details »
            .col-md-2
              h4 LEO
              p
              a(href='/birthsign?sign=Leo') 
                img.clsSign#zodiac(src="images/Leo.png" alt="Leo")
              p (23 July – 22 August) 
              | Look at the movements of the planets, sun, moon, and stars influence in your life in this month by clicking on view details.
              p
                a.btn.btn-raised(href='/birthsign?sign=Leo', role='button' onclick='startSpinner();') View details »
            .col-md-2
              h4 VIRGO
              p 
              a(href='/birthsign?sign=Virgo') 
                img.clsSign#zodiac(src="images/Virgo.png" alt="Virgo")
              p (23 August – 23 September) 
              | Look at the movements of the planets, sun, moon, and stars influence in your life in this month by clicking on view details.
              p
                a.btn.btn-raised(href='/birthsign?sign=Virgo', role='button' onclick='startSpinner();') View details »
      div.row
            .col-md-2
              h4 LIBRA
              p
              a(href='/birthsign?sign=Libra')  
                img.clsSign#zodiac(src="images/Libra.png" alt="Libra")
              p (24 September – 23 October) 
              | Look at the movements of the planets, sun, moon, and stars influence in your life in this month by clicking on view details.
              p
                a.btn.btn-raised(href='/birthsign?sign=Libra', role='button' onclick='startSpinner();') View details »
            .col-md-2
              h4 SCORPIO
              p
              a(href='/birthsign?sign=Scorpio')   
                img.clsSign#zodiac(src="images/Scorpio.png" alt="Scorpio")
              p (24 October – 22 November) 
              | Look at the movements of the planets, sun, moon, and stars influence in your life in this month by clicking on view details.
              p
                a.btn.btn-raised(href='/birthsign?sign=Scorpio', role='button' onclick='startSpinner();') View details »
            .col-md-2
              h4 SAGITTARIUS
              p
              a(href='/birthsign?sign=Sagittarius')   
                img.clsSign#zodiac(src="images/Sagattarius.png" alt="Sagattarius")
              p (23 November – 21 December)
              | Look at the movements of the planets, sun, moon, and stars influence in your life in this month by clicking on view details. 
              p
                a.btn.btn-raised(href='/birthsign?sign=Sagittarius', role='button' onclick='startSpinner();') View details »
            .col-md-2
              h4 CAPRICORN
              p
              a(href='/birthsign?sign=Capricorn')  
                img.clsSign#zodiac(src="images/Capricorn.png" alt="Capricorn")
              p (22 December – 20 January) 
              | Look at the movements of the planets, sun, moon, and stars influence in your life in this month by clicking on view details.
              p
                a.btn.btn-raised(href='/birthsign?sign=Capricorn', role='button' onclick='startSpinner();') View details »
            .col-md-2
              h4 AQUARIUS
              p 
              a(href='/birthsign?sign=Aquarius')
                img.clsSign#zodiac(src="images/Aquarius.png" alt="Aquarius")
              p (21 January – 19 February)
              | Look at the movements of the planets, sun, moon, and stars influence in your life in this month by clicking on view details.
              p
                a.btn.btn-raised(href='/birthsign?sign=Aquarius', role='button' onclick='startSpinner();') View details »
            .col-md-2
              h4 PISCES
              p
              a(href='/birthsign?sign=Pisces') 
                img.clsSign#zodiac(src="images/Pisces.png" alt="Pisces")
              p (20 February – 20 March)
              | Look at the movements of the planets, sun, moon, and stars influence in your life in this month by clicking on view details. 
              p
              a.btn.btn-raised(href='/birthsign?sign=Pisces', role='button' id='piscesSign' onclick='startSpinner();') View details »
      div.view
      each sign, i in signDetails
        div.modal.fade(id='signmodal'+sign.name role='dialog' area-hidden='true')
            div.modal-dialog.modal-dialog-centered(role='document')
              div.modal-content
                div.modal-header
                  .row
                  .col-md-12.p-6
                    h4.modal-title#exampleModalLongTitle #{sign.name}
                    h4 Astrology reveals the will of the gods
                  .row
                    .col-md-6.p-6
                      img.clsSign#zodiac(src='images/'+sign.name+'.png' alt="Capricorn")
                div.modal-body   
                  p=sign.description
                div.modal-footer
                .row
                  .col-md-6.p-6
                    button.btn.btn-secondary(type='button' data-dismiss="modal") Close
      div.NavButtons
        if isAuthenticated
          a(href="/logout")
            div.NavButton Log out
        else
          a(href="/logout")
            div.NavButton not logged in
      script(language='javascript')=function show(){alert('')} 
      